/* INDEX.HTML*/


body{
	
}

#top-div{
	width:100%;
	height:70px;
	background-color:green;
	border-bottom:: solid 4px black;

}


#site-headername{
		width:80%;
		margin:auto;
		float:left;
}

#signin-button{
	width:20%;
	float:left;
	margin-top:15px;
}

#loginform{
	width: 40%;
	margin:auto;
	border:solid;
	padding: 50px;
	background-color:lightgrey;
	border-style:solid;
	border-radius:15px;

}

#loginfield{
	width:50%;
	margin:auto;
	padding-top: 25px;

}

/*h1{
	text-align: center;
	background-color: green;
	color:black;
	padding:20px;
	margin-top:0px;
	border-bottom: solid 3px black;

}*/
