{% extends 'layout.html' %}
{% block content %}
	<div>
		<form method='POST' action=''>
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>Join Today</legend>
				<div>
					{{ form.username.label(class=" ") }}
					{{ form.username(class="")}}
				</div>
				<div>
					{{ form.email.label(class=" ") }}
					{{ form.email(class="")}}
				</div>
				<div>
					{{ form.password.label(class=" ") }}
					{{ form.password(class="")}}
				</div>
				<div>
					{{ form.confirm_password.label(class=" ") }}
					{{ form.confirm_password(class="")}}
				</div>
			</fieldset>
			<div>
				{{ form.submit(class="btn")}}
			</div>
		</form>
	</div>
{% endblock content %}